@using Project2WooxTravel_New.Entities
@model List<Destination>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>WoOx Travel - Tur Detayları</title>

    <!-- Bootstrap core CSS -->
    <link href="~/wooxtravel-1.0.0/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/wooxtravel-1.0.0/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/wooxtravel-1.0.0/assets/css/templatemo-woox-travel.css">
    <link rel="stylesheet" href="~/wooxtravel-1.0.0/assets/css/owl.css">
    <link rel="stylesheet" href="~/wooxtravel-1.0.0/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!--

    TemplateMo 580 Woox Travel

    https://templatemo.com/tm-580-woox-travel

    -->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/Default/Index" class="logo">
                            <img src="~/wooxtravel-1.0.0/assets/images/logo.png" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/Default/Index">Ana Sayfa</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    @foreach (var item in Model)
    {
        <div class="about-main-content" style="background: url('@item.ImageUrl') no-repeat center center;background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content">
                            <div class="bg-text"><h4>@item.Title</h4></div>                            <br />
                            <br />
                            <h2>@item.Country</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- ***** Main Banner Area End ***** -->
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading text-center">
                        <br />
                        <br />
                        <h2>@item.Title</h2>
                        <p>@item.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="more-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-image">
                        <img src="~/wooxtravel-1.0.0/assets/images/about-left-image.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Tur İle İlgili Diğer Bilgiler</h2>
                    </div>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-6">
                                <div class="info-item">
                                    <h4>@item.Capacity</h4>
                                    <span>Kapasite</span>
                                </div>
                                <div class="info-item">
                                    <h4>@item.Price ₺</h4>
                                    <span>Fiyat</span>
                                </div>
                            </div>
                        } 
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-6">
                                <div class="info-item">
                                    <h4>@item.DayNight Gün - @(@item.DayNight-1) Gece</h4>
                                    <span>Gün-Gece</span>
                                </div>
                                <div class="info-item">
                                    <h4>@item.Country / @item.City</h4>
                                    <span>Ülke / Şehir</span>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2036 <a href="#">WoOx Travel</a> Company. All rights reserved.
                        <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a> Distribution: <a href="https://themewagon.com target="_blank">ThemeWagon</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/wooxtravel-1.0.0/vendor/jquery/jquery.min.js"></script>
    <script src="~/wooxtravel-1.0.0/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/wooxtravel-1.0.0/assets/js/isotope.min.js"></script>
    <script src="~/wooxtravel-1.0.0/assets/js/owl-carousel.js"></script>
    <script src="~/wooxtravel-1.0.0/assets/js/wow.js"></script>
    <script src="~/wooxtravel-1.0.0/assets/js/tabs.js"></script>
    <script src="~/wooxtravel-1.0.0/assets/js/popup.js"></script>
    <script src="~/wooxtravel-1.0.0/assets/js/custom.js"></script>

    <script>
        $(".option").click(function () {
            $(".option").removeClass("active");
            $(this).addClass("active");
        });</script>

</body>

</html>


<link href="~/wooxtravel-1.0.0/assets/css/Blur.css" rel="stylesheet" />