@model Project2WooxTravel_New.Entities.Admin
@{
    Layout = null;
}
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<form method="post">
        <div class="container">
            <br /><br />
            <div class="alert alert-primary"><h3>Yeni Kullanıcı Kayıt Sayfası</h3></div>
            <label>Adınız</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            <br />
            <label>Soyadınız</label>
            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
            <br />
            <label>Email Adresiniz</label>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            <br />
            <label>Kullanıcı Adınız</label>
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
            <br />
            <label>Şifreniz</label>
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
            <br />
            <button class="btn btn-primary">Kayıt Ol</button>
        </div>
    </form>*@


@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <form method="post">
        <div class="container">
            <br /><br />
            <div class="alert alert-primary"><h3>Kullanıcı Giriş Sayfası</h3></div>
            <label>Kullanıcı Adınız</label>
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
            <br />
            <label>Şifreniz</label>
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
            <br />
            <button class="btn btn-primary">Giriş Yap</button>
        </div>
    </form>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yeni Kayıt</title>
    <link rel="stylesheet" href="./style.css">
    <style>
        input::placeholder {
            color: white;
            opacity: 0.7;
        }
    </style>

</head>
<body>
    <!-- partial:index.partial.html -->
    <section>
        <form method="post">
            <div class="form-box" style="height:700px">
                <div class="form-value">
                    <form action="">
                        <h2>WoOx Travel</h2>
                        <h2>Yeni Kayıt</h2>
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>

                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "İsim" })
                        </div>
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>

                            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", @placeholder = "Soyisim" })
                        </div>
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>

                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                        </div>
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>

                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Kullanıcı Adı" })
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>

                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Şifre" })
                        </div>                        
                        <button>Kayıt Ol</button>
                    </form>
                </div>
            </div>
        </form>
    </section>
    <!-- partial -->
    <script src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'></script>
    <script src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'></script>
</body>
</html>


<link href="~/wooxtravel-1.0.0/assets/css/Login.css" rel="stylesheet" />
